.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Centra verticalmente todos los elementos */
  padding: 1rem;
  background-color: #4caf50;
}

.navbar h1 {
  margin: 0;
  color: white;
  font-size: 24px;
  font-family: 'Lobster', cursive;
  display: flex;
  align-items: center; /* Centra el título verticalmente */
}

.navbar-links {
  display: flex;
  align-items: center; /* Centra verticalmente los botones y el texto */
}

.navbar-links p {
  color: white;
  margin-right: 20px;
  font-size: 16px;
  display: flex;
  align-items: center; /* Centra el texto dentro de su contenedor */
}

.nav-button {
  padding: 10px 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center; /* Centra el texto en el botón */
  justify-content: center; /* Opcional: asegura el texto centrado horizontalmente */
}

.nav-button:hover {
  background-color: #45a049;
}

.home-button {
  background-color: transparent;
  font-size: 24px;
  font-family: 'Lobster', cursive;
  cursor: pointer;
  display: flex;
  align-items: center; /* Centra el botón verticalmente */
}

.home-button:hover {
  background-color: transparent;
  color: #45a049;
}
